// Footer

.footer {
  background: $dark-dim-grey;
  color: white;
  min-height: 65px;
  display: flex;
  align-items: center;
  bottom: 0;

  @include media-breakpoint-down(sm) {
    padding: 10px;
  }

  &__row {
    justify-content: space-between;
  }

  &__social__media {
    ul {
      list-style-type: none;
      align-items: center;
      @extend .footer;

      @include media-breakpoint-down(sm) {
        justify-content: center;
      }

      li {
        display: inline-flex;

        &:not(:last-child) {
          margin-right: 10px;
        }

        &:first-of-type {
          font-size: 18px;
          font-weight: $font-weight-bold;
          margin-right: 18px;
        }
      }
    }
  }
  &__menu {
    @extend .footer;
    justify-content: flex-end;
    > #main-nav {
      width: 100%;
    }

    .menu-item {
      a {
        color: $white;
        font-weight: $font-weight-semibold;
        font-size: 14px;
      }
      &:last-child {
        .nav-link {
          background-color: rgba(255, 255, 255, 0.5);
          border-color: rgba(255, 255, 255, 0.5);;
          color: white;
          border-radius: 20px;
          height: 30px;
          width: 132px;
          font-size: 12px;
          font-weight: $font-weight-bold;
          transition: 0s background-color;
          text-align: center;
          &:hover {
            transition-delay: 0.01s;
            background-color: rgba(255, 255, 255, 0.5);
            color: $black !important;
          }
        }
      }
    }

    li {
      @include media-breakpoint-down(sm) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    #main-nav {
      margin-top: 0;
    }

    .nav {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
      }
    }
  }
}
