// Header

header {
  position: relative;
  background: $dark-dim-grey;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 999;
  @include media-breakpoint-down(sm){
    height: 90px;
  }
}

.is-sticky {
  position: fixed;
}
