// Topbar

header {
  .container {
    max-width: 1400px;
    position: relative;
  }
}

.topbar-row {
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  @include media-breakpoint-down(sm) {
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: transparent;
  }
  .top-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .call-now {
      display: flex;
      flex-direction: row;
      p {
        margin-right: 5px;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: row;
    right: 10%;
    // @include media-breakpoint-down(sm) {
    //   display: none;
    // }
    li {
      margin-right: 10px;
      @include media-breakpoint-down(sm) {
        margin-right: 5px;
      }
      &:last-child {
        margin-right: 26px;
      }
    }
  }
  p,
  a {
    padding: 5px 0;
    @include fluid-font(13px, 16px);
    color: $white;
    font-weight: $font-weight-semibold;
  }
  .headline {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
// .top-bar {
//   padding-top: 4px;

//   .container {
//     @include media-breakpoint-up(md) {
//       max-width: 1240px;
//     }
//   }

//   .top-bar-inner {
//     justify-content: flex-end;
//     display: flex;
//     width: 100%;
//     align-items: center;

//     .social-link {
//       &:not(:last-child) {
//         @include rem(margin-right, 7px);
//       }
//     }

//     .call-us {
//       @include rem(font-size, 16px);
//       @include rem(
//         (
//           font-size: 16px,
//           margin-left: (
//             10px,
//           ),
//         )
//       );
//       color: $purple-brown;
//       font-weight: $font-weight-semibold;
//     }
//   }
// }
