.home {
    .hero-section {        
        background-color: white;

        .slide {
            position: relative;
            overflow: hidden;
            height: 100%;
        }
        .img-wrapper {
            min-height: 700px;
            background-size: cover;
            background-position: 50% 50%;
            left: 0%;
            top: 0%;
            right: 0%;
            bottom: 0px;
            .content {
                position: absolute;
                bottom: 10em;
                left: 5em;
                background-color: rgba(255,255,255, 0.6);
            }
    
        }

        a {
            color: black;
        }
    }
    .about-section {
        padding: 100px 0;
        text-align: center;
        background-color: #f4f4f4;
        .feature-row {
            .about {
                padding: 0 10%;
                margin-bottom: 35px;
            }
            h2 {
               color: #8ed1dd;
               margin-bottom: 35px;
            }
        }
    }
}